*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.main{
    
    height: 300px;
    position: relative;
    background-color: crimson;
    width: 300px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px
                3px 3px 3px 3px
                3px 3px 3px 3px
                3px 3px 3px 3px;
    padding: 20px;
}
.heading{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.inputs{
    padding-top: 20px;
    
}
.inputs input{
    width: 100%;
    height:30px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid black;
    padding-left: 10px;
}
.inputs i{
    position: absolute;
    right: 20px;
    bottom: 10px;
}
.pass{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}
button{
    width: 100%;
    border: 2px solid black;
    margin-top: 15px;
    border-radius: 5px;
    height: 25px;
}
.last{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}